html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	background-color: #6d695c;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}
#total-wrapper{
	width: 800px;
	margin: 0 auto;
	font-family: 'PT Sans Narrow', sans-serif;
}
#header_wrap{
	background-color: #265BA9;
	width: 100%;
	height: 88px;
	line-height: 0px;
	display: block;
	clear: both;
	border: 2px solid black;
}
#banner_header{
	width: 79%;
	padding: 30px;
	font-size: 30px;
	background-color: #5997F6;
	border: 2px solid black;
	display: block;
	float: left;
	margin: 1% 0 1% 1%;
	height: 70px;
}
#logo{
	display: block;
	float: right;
	width: 19%;
	height: 70px;
	margin: 1% 1% 1% 0%;
	border: 2px solid black;
	background-color: #5997F6;
}
li{
	display: block;
}
.even{
	background-color: rgba(0,0,0, 0.2);
}
.odd{
	background-color: rgba(0,0,0, 0.1);
}
/*.messages:nth-child(even){
	background-color: #5997F6;
}*/
#chat{
	list-style: none;
	padding-left: 0;
	/*padding: 10px, 0px 10px 0px;*/
}
#input_div{
	/*text-align: center;*/
	margin: 5px 10px 5px 10px;

	
}
#chatroom{
	width: 80%;
	height: 800px;
	float: left;
	border: 2px solid black;
	position: relative;
	background-color: #265BA9;
}
#users{
	float: right;
	border: 2px solid black;
	width: 20%;
	height: 800px;
	background-color: #265BA9;
}
h1{
	font-size: 15px;
	text-align: center;
}
#break{
	height: 2px;
	background-color: black;
}
#chat_wrap{
	padding: 15px;
	margin: 10px;
	background-color: #5997F6;
	border: 2px solid black;
	height: 720px;
	overflow: auto;
}
#input{
	float: left;
	width: 79%;
	resize: none;
}
#send_button{
	float: right;
	height: 51px;
	width: 20%;
}
textarea{
	border: 2px solid black;
}
button{
	border: 2px solid black;
}